In [1]:
import os
import geopandas as gpd
import pandas as pd

In [3]:
scenes_files = [f for f in os.listdir("/vida/work/GDPFinder/GDPFinder/data/scenes_metadata") if f[-7:] == "geojson"]
tar_files = [f for f in os.listdir("/vida/work/GDPFinder/GDPFinder/data/output/tar_files") if f[-4:] == ".tar"]
tar_files_entity_id = [int(x.split("_")[0]) for x in tar_files]
download_summary = []
for scene in scenes_files:
    scenes_shp = gpd.read_file(f"/vida/work/GDPFinder/GDPFinder/data/scenes_metadata/{scene}")
    n_download_files = scenes_shp.entity_id.astype(int).isin(tar_files_entity_id).sum()
    scene_name = scene.replace("_last_scenes.geojson", "")
    city = scene_name[:-3]
    state = scene_name[-2:]
    download_summary.append([city, state, n_download_files, scenes_shp.shape[0]])
download_summary = pd.DataFrame(download_summary, columns = ["city", "state", "n_download_files", "n_total_files"])
download_summary["missing_files"] = download_summary.n_total_files - download_summary.n_download_files
print(f"Total of tar files \t {len(tar_files)}")
print(f"Number of download scenes \t {download_summary.n_download_files.sum()}")
#assert len(tar_files) == download_summary.n_download_files.sum()
download_summary.sort_values(["missing_files"], ascending=False)

Total of tar files 	 1599
Number of download scenes 	 1560

              city state  n_download_files  n_total_files  missing_files
0          detroit    mi                22             22              0
25      cincinnati    oh                19             19              0
27         orlando    fl                21             21              0
28       nashville    tn                54             54              0
29    indianapolis    in                36             36              0
30      sacramento    ca                19             19              0
31     kansas_city    mo                44             44              0
32        columbus    oh                39             39              0
33     san_antonio    tx                63             63              0
34       cleveland    oh                19             19              0
35       las_vegas    nv                22             22              0
36  salt_lake_city    ut                19             19              0
37       milwaukee    wi                21             21              0
38         raleigh    nc                27             27              0
39        hartford    ct                 4              4              0
40  virginia_beach    va                37             37              0
41    jacksonville    fl                80             80              0
42        richmond    va                10             10              0
43         warwick    ri                10             10              0
44   oklahoma_city    ok                73             73              0
45        stamford    ct                13             13              0
46         memphis    tn                65             65              0
47         buffalo    ny                18             18              0
26      pittsburgh    pa                14             14              0
24       st._louis    mo                15             15              0
1         new_york    ny                45             45              0
23           tampa    fl                23             23              0
2      los_angeles    ca                61             61              0
3          chicago    il                34             34              0
4          oakland    ca                14             14              0
5           dallas    tx                57             57              0
6       washington    dc                16             16              0
7          houston    tx               106            106              0
8           boston    ma                15             15              0
9          seattle    wa                21             21              0
10    philadelphia    pa                34             34              0
11         atlanta    ga                20             20              0
12        san_jose    ca                34             34              0
13           miami    fl                 9              9              0
14         phoenix    az                58             58              0
15     minneapolis    mn                 9              9              0
16       san_diego    ca                48             48              0
17          aurora    co                30             30              0
18       baltimore    md                11             11              0
19       riverside    ca                15             15              0
20       charlotte    nc                36             36              0
21          austin    tx                42             42              0
22        portland    or                23             23              0
48     new_orleans    la                35             35              0